{% extends "main/base.html" %}
{% block content %}
{% load static %}
<div class="col-md-8 md-3">
<form class="needs-validation" id="form" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <label for="old_password">Old Password</label>
        <input type="password" id="old_password" class="form-control" name="old_password" required data-visible="true" />
        <small id="error_old_password" style="display: none;" class="invalid-feedback">Your old password was entered incorrectly<br/>Please enter it again</small>
    </div>
    <div class="form-group">
        <label for="new_password" class="control-label">New Password</label>
        <input type="password" id="new_password" class="form-control" name="new_password" required visible="true" />
        <small class="invalid-feedback" style="display: none;" id="password_regex">
            <ul>
                <li>Password must be at least 8 digits</li>
                <li>Password must contain at least one smaller case character</li>
                <li>Password must contain at least one number</li>
                <li>Password must contain at least one upper case alphabet</li>
                <li>Password must contain at least one symbol of <b><code>[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]</code></b></li>
            </ul>
        </small>
    </div>
    <div class="form-group">
        <label for="new_password_confirm" class="control-label">Confirm New Password</label>
        <input type="password" id="new_password_confirm" class="form-control" name="new_password_confirm" required visible="true" />
        <span id="error" style="display: none;" class="invalid-feedback">Both passwords must match<br/>Please Recheck and try again</span>
    </div>
    <button type="button" class="btn btn-primary" onclick="processData()">Submit</button>
</form>
</div>
<script type="module" src="{% static "Authentication/js/change_password.js" %}"></script>
{% endblock content %}