{% extends "main/base.html" %}
{% block content %}
<div class="col-md-8 md-3">
<form class="needs-validation" id="form" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <label for="old_password">Old Password</label>
        <input type="password" id="old_password" class="form-control" name="old_password" required data-visible="true" />
        <small id="error_old_password" style="display: none;" class="invalid-feedback">Your old password was entered incorrectly<br/>Please enter it again</small>
    </div>
    <div class="form-group">
        <label for="new_password" class="control-label">New Password</label>
        <input type="password" id="new_password" class="form-control" name="new_password" required visible="true" />
        <small class="invalid-feedback" style="display: none;" id="password_regex">
            <ul>
                <li>Password must be at least 8 digits</li>
                <li>Password must contain at least one smaller case character</li>
                <li>Password must contain at least one number</li>
                <li>Password must contain at least one upper case alphabet</li>
                <li>Password must contain at least one symbol of <b><code>[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]</code></b></li>
            </ul>
        </small>
    </div>
    <div class="form-group">
        <label for="new_password_confirm" class="control-label">Confirm New Password</label>
        <input type="password" id="new_password_confirm" class="form-control" name="new_password_confirm" required visible="true" />
        <span id="error" style="display: none;" class="invalid-feedback">Both passwords must match<br/>Please Recheck and try again</span>
    </div>
    <button type="button" class="btn btn-primary" onclick="processData()">Submit</button>
</form>
</div>
<script>
    function processData() {
        console.log('Processsing');
        const userId = {{ user_id }};
        // get the datas
        const old_password = document.getElementById('old_password').value;
        const new_password = document.getElementById('new_password').value;
        const new_password_confirm = document.getElementById('new_password_confirm').value;
        const error = document.getElementById('error');
        const error_old_password = document.getElementById('error_old_password');
        const password_regex = document.getElementById('password_regex');
        const forms = document.getElementById('form');
        const formData = new FormData(forms);
        const regex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]).{8,}$/

        // check if password satisfy requirements
        if (regex.test(new_password)) {
        // check if both values correspond
        if (new_password != new_password_confirm) {
            error.style.display = 'block';
        } else {
            error.style.display = 'none';

            // makes the fetch call

            fetch(`/auth/${userId}/change_password/`, {
                method: 'POST',
                header: {
                    'Content-Type': 'application/json',
                    
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Data:', data);
                if (data.status == 400){
                    error_old_password.style.display = 'block';
                    console.log('Password do not corelate to the old password');
                } else if (data.status == 200){
                    console.log('Password changed successfully');
                    setTimeout(function() {
                        location.reload();
                    }, 500);
                    alert('Password changed successfully');
                }
            })
            .catch(error => {
                console.log('error message: ', error);
            });
        }
    } else {
        console.log('Password does not pass')
        password_regex.style.display = 'block';
    }
    }

</script>
{% endblock content %}