{% extends "Authentication/base.html" %}
{% block content %}
<div class="col-md-8 md-4">
<form class="needs-validation" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token%}
    <div class="form-group">
        <label for="reg_num">Reg Number</label>
        <input type="text" id="reg_num" class="form-control" name="reg_num" visible="true" />
        <small class="form-text text-muted">Enter your Reg number: <b>ALIS:01:01:ABC</b></small>
        <span id="regError" style="display: None;" class="invalid-feedback">No user with this reg_num </span>
    </div>
    <div class="form-group">
        <label for="old_password">Old Password</label>
        <input type="password" id="old_password" class="form-control" name="old_password" visible="true" />
    </div>
    <div class="form-group">
        <label for="new_password" class="control-label">New Password</label>
        <input type="password" id="new_password" class="form-control" name="new_password" visible="true" />
    </div>
    <div class="form-group">
        <label for="new_password_confirm" class="control-label">Confirm New Password</label>
        <input type="password" id="new_password_confirm" class="form-control" name="new_password_confirm" visible="true" />
        <span id="error" style="display: None;" class="invalid-feedback">Both passwords must match, recheck and try again</span>
    </div>
    <button type="button" class="btn btn-primary" onclick="processData()">Submit</button>
</form>
</div>
<script>
    function processData() {
        console.log('Processsing');
        // get the datas
        const reg_num = document.getElementById('reg_num').value;
        const new_password = document.getElementById('new_password').value;
        const new_password_confirm = document.getElementById('new_password_confirm').value;
        const error = document.getElementById('error');
        const errorReg_num = document.getElementById('regError');

        // check if both values correspond
        if (new_password != new_password_confirm) {
            error.style.display = 'block';
        } else {
            error.style.display = 'none';

            // makes the fetch call

            fetch('/change_password/', {
                method: 'POST',
                header: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    reg_num: reg_num,
                    new_password: new_password
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data === 'No user found'){
                    errorReg_num.style.display = 'block';
                }
            })
            .catch(error => {
                console.log('error message: ', error);
            });
        }

        // check if the user exists

        alert('data seen not sent to the backend');
    }
</script>
{% endblock content %}