{% extends 'Authentication/base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'Authentication/css/credentials.css' %}">
{% endblock %}
{% block title %}
    Auth - Success
{% endblock %}

{% block content %}
<div class="container content-container">
    <div class="card">
        <div class="card-header text-light bg-primary ">
            <h5>Signup  - Success | Login credentials</h5>
        </div>
        <div class="card-title mt-3">
            <h5>Welcome {{ user.get_full_name }} you have successfully signed up</h5>
        </div>
        <div class="card-body">
            <p>This is your login details, do ensure you copy it down somewhere safe.</p>
            <p>Reg Num: <b>{{ user.reg_num }}</b></p>
            <p>Password: <b>Admin321</b></p>
            <p class="text-secondary">Ensure you change your password once you login</p>
            <!-- unable to resolve this yet -->
        </div>

            
        <div class="card-footer text-body-secondary">
            <p class="text-end"><a class="btn btn-primary" href="/login/">Login</a></p>
        </div>
    </div>
</div>
{% endblock %}