body {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4edf6;
  }
.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% auto;
  }
.card{
    margin: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.card-title{
    padding: 5px;
}