{% extends 'main/base.html' %}
{% block content %}
<h1>Teachers</h1>
{% if teachers %}
<table>
    {% comment %} <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Subjects</td>
        This should be the headers

    </tr> {% endcomment %}
{% for teacher in teachers %}
    <tr>
        <td>{{ teacher.get_full_name }}</td>
        {% comment %} <td>{{ teacher.last_name }}</td> {% endcomment %}
        <td>{{ teacher.reg_num }}</td>
        
        <td>
            <ul>
            {% for subject in teacher.subject_set.all%}
                <li>{{ subject }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
