{% extends 'main/base.html' %}
{% block title%}All students{% endblock %}
{% block content %}
<h1>Students</h1>
{% if students %}
<table>
{% for student in students %}
    <tr>
        <td>{{ student.get_full_name }}</td>
        {% comment %} <td>{{ teacher.last_name }}</td> {% endcomment %}
        <td>{{ student.reg_num }}</td>
        <td>{{ student.grade }}</td>
        
        <td>
            <ul>
            {% for subject in student.subject_set.all %}
                <li>{{ subject }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
