{% extends "main/base.html" %}
{% block content %}
<div class="container">
<h5 class="form-text text-secondary">Student Profile</h5>
<div class="">
    <p>Name: {{ student.get_full_name }}</p>
    <p>Reg_Num: {{ student.reg_num }}</p>
    <p>Class: {{ student.current_class }}</p>



    <p><a href="{% url 'students_result' user.student.id %}">Result</a></p>
</div>
<div>
<p>Subjects:</p>
<table class="table table-hover table-bordered">
    <thead class="table-dark">
        <th scope="col">Subject Name</th>
        <th scope="col">Teacher Name</th>
    </thead>
    <tbody>
        {% for subject in user.student.subjects.all %}
        <tr>
            <td>{{ subject.subject_name }}</td>
            <td>{{ subject.teacher_name}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
</div>
{% endblock %}
