<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Course registration -->
    Get a list of all courses in a table with the row having a multiple checkbox which can be selected and deselected, 
    once done, it'll be sent to the backend for processing which will automatically update the user subjects. the subjects displayed will be based on the class selected

    algoriths

    select a specific class
    for class in classes
    list class

    send selected class to a var in js
    selectedClass = selectedClass

    for subjects in subjectsList
    if subjects.class = selectedClass
    list the subjects

    collect all subjects selected and send to the beok
    
</body>
</html>