{% extends 'main/base.html' %}
{% block content %}
<h1>Teachers</h1>
{% if teachers %}
<table>
    <thead>
        <th>Name</th>
        <th>Reg Num</th>
        <th>Subjects</th>

    </thead>
{% for teacher in teachers %}
    <tr>
        <td>{{ teacher.get_full_name }}</td>
        <td>{{ teacher.reg_num }}</td>
        
        <td>
            <ul>
            {% for subject in teacher.subject_set.all%}
                <li>{{ subject }}</li>
            {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
