{% extends "main/base.html" %}
{% block title %}Al-Iman | My Students{% endblock %}
{% block content %}
{% comment %} <h1>{{ subject.name }}</h1> {% endcomment %}
<h1>Teacher: {{ subject.teacher_name }}</h1>
<h2>Subject/Class: {{ subject.subject_name }} {{ subject.subject_class }}</h2>
<table class='table'>
    <thead>
        <th>Student name</th>
        <th>Subject name</th>
        <th>First CA</th>
        <th>Second CA</th>
        <th>Third CA</th>
        <th>Exams</th>
        <th>Total</th>
    </thead>
    <tbody>
        {% comment %} {% for student in students %} {% endcomment %}
            {% for CA in continousassessment %}
                <tr>
                    <td>{{ CA.student.get_full_name }}</td>
                    <td>{{ CA.subject.subject_name }}</td>
                    <td>{{ CA.first_ca }}</td>
                    <td>{{ CA.second_ca }}</td>
                    <td>{{ CA.exams }}</td>
                    <td>{{ CA.total }}</td>
                </tr>
            {% endfor %}
            {% comment %} <span>{{ student.continousassessment_set.all }}</span> {% endcomment %}
        {% comment %} {% endfor %} {% endcomment %}
    </tbody>
</table>
{% endblock %}