{% extends "main/base.html" %}
{% load static %}
{% block title %}Al-Iman | My Students{% endblock %}
{% block content %}
<div class="container">
    <div class="mb-3">
        <h5 class="text-secondary">Students Result</h5>
        <p class="mt-6">Teacher:<b> {{ subject.teacher_name }}</b></p>
        <p>Subject: {{ subject.subject_name }}</p>
        <p>Class: {{ subject.subject_class }}</p>
    </div>
    <form action='/subject/{{ subject.id }}/students/' method='GET'>
        <input type='button' id='edit-btn' class='btn btn-primary' value='Edit the scores'/>
        <table class='table' id='table'>
            <thead>
                <tr>
                    <th scope="col">Student name</th>
                    <th scope="col">Subject name</th>
                    <th scope="col">First CA</th>
                    <th scope="col">Second CA</th>
                    <th scope="col">Third CA</th>
                    <th scope="col">Exams</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% csrf_token %}
            
                {% for CA in continousassessment %}
                    <tr data-id='{{ CA.id }}'>
                        <th scope="row">{{ CA.student.get_full_name }}</th>
                        <td>{{ CA.subject.subject_name }}</td>
                        <td class='scores cell' contenteditable="false">{{ CA.first_ca }}</td>
                        <td class='scores cell' contenteditable="false">{{ CA.second_ca }}</td>
                        <td class='scores cell' contenteditable="false">{{ CA.third_ca }}</td>
                        <td class='scores exam-cell' contenteditable="false">{{ CA.exams }}</td>
                        <td contenteditable="false">{{ CA.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <button type="submit" id="button" class="btn btn-primary">Save</button>
</div>
<script>
    const csrfToken = "{{ csrf_token }}";
</script>
<script src="{% static 'Staff/js/subjectTeacher.js' %}">
</script>
{% endblock %}
