{% extends "main/base.html" %}
{% block content %}
<h2>Teacher Profile</h2>
<p>Name: {{ teacher.get_full_name }}</p>
<p>Email: {{ teacher.email }}</p>
<p>Reg Num: {{ teacher.reg_num }}</p>
<p>Subjects:</p>
<table class="table">
    <thead>
        <th>Subject Name</th>
        <th>Class</th>
        <th>No of students</th>
    </thead>
    <tbody>
        <tr>
            {% for subject in subjects %}

            <td><a href="{% url 'subjectStudents' subject.id %}">{{ subject.subject_name }}</a></td>
            <td>{{subject.subject_class}}</td>
            <td>
                {{student.subject.all|length}}
            </td>
        </tr>
            {% endfor %}
        
    </tbody>
</table>
{% endblock %}
